In [1]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv("./fulldata_01_01_02_P_의원.csv", encoding='utf-8', index_col=0)

/var/folders/lm/n8nzmr_n7vgg9l0b5737gqrm0000gn/T/ipykernel_27271/397837802.py:1: DtypeWarning: Columns (17,20,22,26,29,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./fulldata_01_01_02_P_의원.csv", encoding='utf-8', index_col=0)

In [3]:
df.columns

Index(['개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '의료기관종별명', '의료인수', '입원실수', '병상수', '총면적', '진료과목내용', '진료과목내용명', '지정취소일자',
       '완화의료지정형태', '완화의료담당부서명', '구급차특수', '구급차일반', '총인원', '구조사수', '허가병상수',
       '최초지정일자'],
      dtype='object')

In [4]:

total_address = df['도로명전체주소'].str.replace(',', '')

In [5]:
df["도로명전체주소"] = total_address
df["도로명전체주소"]

번호
1                 광주광역시 북구 동문대로 24 3층 (풍향동)
2                 광주광역시 북구 설죽로 518 2층 (일곡동)
3                 광주광역시 북구 설죽로 495 3층 (일곡동)
4              광주광역시 북구 임방울대로 1063 4층 (용두동)
5         광주광역시 북구 설죽로 565 2층 (일곡동 한국아파트상가)
                        ...
113824           서울특별시 영등포구 도림로 227-1 (신길동)
113825                                  NaN
113826     충청남도 천안시 동남구 만남로 52 문타워 7층 (신부동)
113827         인천광역시 남동구 서창남순환로 56 3층 (서창동)
113828     서울특별시 강남구 논현로 848 서경대학교 8층 (신사동)
Name: 도로명전체주소, Length: 113828, dtype: object

In [6]:
df.to_csv("./PreprocessedHospitalData.csv", encoding='utf-8')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113828 entries, 1 to 113828
Data columns (total 43 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   개방서비스명     113828 non-null  object
 1   개방서비스아이디   113828 non-null  object
 2   개방자치단체코드   113828 non-null  int64
 3   관리번호       113828 non-null  object
 4   인허가일자      113828 non-null  int64
 5   인허가취소일자    0 non-null       float64
 6   영업상태구분코드   113828 non-null  int64
 7   영업상태명      113828 non-null  object
 8   상세영업상태코드   113828 non-null  int64
 9   상세영업상태명    113828 non-null  object
 10  폐업일자       41295 non-null   float64
 11  휴업시작일자     1055 non-null    float64
 12  휴업종료일자     1147 non-null    float64
 13  재개업일자      0 non-null       float64
 14  소재지전화      106277 non-null  object
 15  소재지면적      0 non-null       float64
 16  소재지우편번호    57403 non-null   object
 17  소재지전체주소    101019 non-null  object
 18  도로명전체주소    100889 non-null  object
 19  도로명우편번호    92894 non-null   object
 20  사업장명       113828 non-null  object
 21  최종수정시점     113828 non-null  object
 22  데이터갱신구분    113828 non-null  object
 23  데이터갱신일자    113828 non-null  object
 24  업태구분명      113828 non-null  object
 25  좌표정보(x)    99679 non-null   object
 26  좌표정보(y)    99679 non-null   float64
 27  의료기관종별명    111943 non-null  object
 28  의료인수       111943 non-null  object
 29  입원실수       111943 non-null  float64
 30  병상수        111943 non-null  float64
 31  총면적        111943 non-null  float64
 32  진료과목내용     110341 non-null  object
 33  진료과목내용명    110341 non-null  object
 34  지정취소일자     1 non-null       object
 35  완화의료지정형태   0 non-null       float64
 36  완화의료담당부서명  0 non-null       float64
 37  구급차특수      111942 non-null  float64
 38  구급차일반      111943 non-null  float64
 39  총인원        1 non-null       float64
 40  구조사수       0 non-null       float64
 41  허가병상수      111942 non-null  float64
 42  최초지정일자     1 non-null       float64
dtypes: float64(18), int64(4), object(21)
memory usage: 38.2+ MB

In [8]:
print(df['의료인수'].dtypes)
print(df['입원실수'].dtypes)
print(df['병상수'].dtypes)

object
float64
float64

In [9]:
df[df['의료인수'] == '한의원'].index

Int64Index([94794], dtype='int64', name='번호')

In [10]:
df['의료인수'].iloc[94793]
df['의료인수'].unique()

array([1.0, 2.0, 4.0, 3.0, 5.0, 7.0, 14.0, 8.0, 10.0, 6.0, 15.0, 0.0, nan,
       12.0, 30.0, 33.0, 13.0, 16.0, 26.0, 17.0, 11.0, 9.0, 23.0, 64.0,
       70.0, 36.0, 39.0, 66.0, 24.0, 20.0, 160.0, 53.0, 22.0, 46.0, 19.0,
       25.0, 18.0, 29.0, 52.0, 92.0, 21.0, 34.0, 27.0, 31.0, 40.0, 45.0,
       41.0, 49.0, 44.0, 42.0, 59.0, 60.0, 62.0, 65.0, 68.0, 32.0, 28.0,
       56.0, 103.0, 63.0, 38.0, 37.0, 69.0, 159.0, 51.0, 54.0, 77.0, 35.0,
       81.0, 55.0, '1', '2', '0', '3', '4', '5', '6', '8', '17', '12',
       '11', '7', '9', '15', '14', '10', '56', '13', '16', '48', '19',
       '25', '27', '22', '47', '34', '18', '한의원', '23', -1.0, 115.0, 43.0],
      dtype=object)

In [11]:
df.drop(index= df[df['의료인수'] == '한의원'].index, inplace= True)
df['의료인수'].unique()

array([1.0, 2.0, 4.0, 3.0, 5.0, 7.0, 14.0, 8.0, 10.0, 6.0, 15.0, 0.0, nan,
       12.0, 30.0, 33.0, 13.0, 16.0, 26.0, 17.0, 11.0, 9.0, 23.0, 64.0,
       70.0, 36.0, 39.0, 66.0, 24.0, 20.0, 160.0, 53.0, 22.0, 46.0, 19.0,
       25.0, 18.0, 29.0, 52.0, 92.0, 21.0, 34.0, 27.0, 31.0, 40.0, 45.0,
       41.0, 49.0, 44.0, 42.0, 59.0, 60.0, 62.0, 65.0, 68.0, 32.0, 28.0,
       56.0, 103.0, 63.0, 38.0, 37.0, 69.0, 159.0, 51.0, 54.0, 77.0, 35.0,
       81.0, 55.0, '1', '2', '0', '3', '4', '5', '6', '8', '17', '12',
       '11', '7', '9', '15', '14', '10', '56', '13', '16', '48', '19',
       '25', '27', '22', '47', '34', '18', '23', -1.0, 115.0, 43.0],
      dtype=object)

In [12]:
df['의료인수'].fillna(0)
df['의료인수'].isnull().value_counts()

False    111942
True       1885
Name: 의료인수, dtype: int64

In [13]:
df['의료인수'] = pd.to_numeric(df['의료인수'])
df['의료인수'].dtypes

dtype('float64')

In [14]:
df['의료인수'] = df['의료인수'].astype(float)
df['입원실수'] = df['입원실수'].astype(float)
df['병상수'] = df['병상수'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113827 entries, 1 to 113828
Data columns (total 43 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   개방서비스명     113827 non-null  object
 1   개방서비스아이디   113827 non-null  object
 2   개방자치단체코드   113827 non-null  int64
 3   관리번호       113827 non-null  object
 4   인허가일자      113827 non-null  int64
 5   인허가취소일자    0 non-null       float64
 6   영업상태구분코드   113827 non-null  int64
 7   영업상태명      113827 non-null  object
 8   상세영업상태코드   113827 non-null  int64
 9   상세영업상태명    113827 non-null  object
 10  폐업일자       41294 non-null   float64
 11  휴업시작일자     1055 non-null    float64
 12  휴업종료일자     1147 non-null    float64
 13  재개업일자      0 non-null       float64
 14  소재지전화      106276 non-null  object
 15  소재지면적      0 non-null       float64
 16  소재지우편번호    57403 non-null   object
 17  소재지전체주소    101018 non-null  object
 18  도로명전체주소    100888 non-null  object
 19  도로명우편번호    92893 non-null   object
 20  사업장명       113827 non-null  object
 21  최종수정시점     113827 non-null  object
 22  데이터갱신구분    113827 non-null  object
 23  데이터갱신일자    113827 non-null  object
 24  업태구분명      113827 non-null  object
 25  좌표정보(x)    99678 non-null   object
 26  좌표정보(y)    99678 non-null   float64
 27  의료기관종별명    111942 non-null  object
 28  의료인수       111942 non-null  float64
 29  입원실수       111942 non-null  float64
 30  병상수        111942 non-null  float64
 31  총면적        111942 non-null  float64
 32  진료과목내용     110340 non-null  object
 33  진료과목내용명    110340 non-null  object
 34  지정취소일자     0 non-null       object
 35  완화의료지정형태   0 non-null       float64
 36  완화의료담당부서명  0 non-null       float64
 37  구급차특수      111942 non-null  float64
 38  구급차일반      111942 non-null  float64
 39  총인원        0 non-null       float64
 40  구조사수       0 non-null       float64
 41  허가병상수      111942 non-null  float64
 42  최초지정일자     0 non-null       float64
dtypes: float64(19), int64(4), object(20)
memory usage: 38.2+ MB

In [15]:
df = df.astype({'의료인수' : int, 
                '입원실수' : int,
                '병상수' : int,
                })

df.head()

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [16]:
df['의료인수'] = df['의료인수'].fillna(-999).astype('int8').replace({-999: None})
df['입원실수'] = df['입원실수'].fillna(-999).astype('int8').replace({-999: None})
df['병상수'] = df['병상수'].fillna(-999).astype('int8').replace({-999: None})

In [23]:
print(df[['의료인수', '입원실수', '병상수']].dtypes)
print(df['의료인수'].unique())
print(df['입원실수'].unique())
print(df['병상수'].unique())

의료인수    object
입원실수    object
병상수     object
dtype: object
[1 2 4 3 5 7 14 8 10 6 15 0 25 12 30 33 13 16 26 17 11 9 23 64 70 36 39 66
 24 20 -96 53 22 46 19 18 29 52 92 21 34 27 31 40 45 41 49 44 42 59 60 62
 65 68 32 28 56 103 63 38 37 69 -97 51 54 77 35 81 55 48 47 -1 115 43]
[0 6 1 8 2 4 3 9 5 13 11 7 10 14 15 25 29 12 21 16 17 18 20 26 19 24 23 28
 22 62 30 -108 84 27 33]
[0 28 1 10 3 9 6 22 26 11 27 25 29 14 21 17 7 8 49 5 20 15 19 23 2 4 12 24
 18 16 42 13 33 34 30 47 52 48 40 44 37 46 35 -78 -127 38 -40 86 39 45 54
 41 43 32 36 70 90]

In [24]:
df['의료인수'] = pd.to_numeric(df['의료인수'])
df['의료인수'].dtypes

dtype('int64')

In [28]:
df['입원실수'] = pd.to_numeric(df['입원실수'])
print(df[['입원실수']].dtypes)
df['병상수'] = pd.to_numeric(df['병상수'])
print(df[['병상수']].dtypes)

입원실수    int64
dtype: object
병상수    int64
dtype: object

In [30]:
print(df['의료인수'].info())
print(df['입원실수'].info())
print(df['병상수'].info())

<class 'pandas.core.series.Series'>
Int64Index: 113827 entries, 1 to 113828
Series name: 의료인수
Non-Null Count   Dtype
--------------   -----
113827 non-null  int64
dtypes: int64(1)
memory usage: 1.7 MB
None
<class 'pandas.core.series.Series'>
Int64Index: 113827 entries, 1 to 113828
Series name: 입원실수
Non-Null Count   Dtype
--------------   -----
113827 non-null  int64
dtypes: int64(1)
memory usage: 1.7 MB
None
<class 'pandas.core.series.Series'>
Int64Index: 113827 entries, 1 to 113828
Series name: 병상수
Non-Null Count   Dtype
--------------   -----
113827 non-null  int64
dtypes: int64(1)
memory usage: 1.7 MB
None

In [31]:
df.to_csv('./PreprocessedHospitalData.csv')

In [37]:
df = pd.read_csv("./PreprocessedHospitalData.csv", encoding='utf-8', index_col=0)

/var/folders/lm/n8nzmr_n7vgg9l0b5737gqrm0000gn/T/ipykernel_27271/1788438105.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./PreprocessedHospitalData.csv", index_col=0)

In [38]:
df[['의료인수', '입원실수', '병상수']].dtypes

의료인수    int64
입원실수    int64
병상수     int64
dtype: object

dataframe에는 int로 찍히지만 java에서 csv를 읽어올 때 object를 float으로 인식해서
캐스팅하는 방법으로 전환하였음